.card {
    background: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px .7rem 2.9rem 0px;
    max-width: 25rem;
    width: 100%;
    transition: transform .2s;
    cursor: pointer;
    position: relative;
    transform: translateX(-10rem);
    opacity: 0;
    display: flex;
    gap: 1rem;

    &__number {
        width: 3rem;
        height: 3rem;
        background: rgb(39, 158, 139);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    &-content {
        &__title {
            font-weight: 500;
            margin-bottom: 3px;
            font-size: 1.8rem;
        }

        &__sub {
            font-weight: 400;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        &__info {
            color: #b0b0b0;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    .favorite {
        color: rgb(39, 158, 139);
    }

    .save {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &:hover {
        transform: translateY(-px);
    }

    &.highlighted {
        border: 1px solid rgb(39, 158, 139);
    }
}