.card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 250px;
    transition: transform .2s;
    cursor: pointer;
    position: relative;
    transform: translateX(-100px);
    opacity: 0;
    display: flex;
    gap: 10px;

    // &-header {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     margin-bottom: 20px;
    // }

    &__number {
        width: 30px;
        height: 30px;
        background: rgb(39, 158, 139);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    &-content {
        &__title {
            font-weight: 500;
            margin-bottom: 3px;
            font-size: 18px;
        }

        &__sub {
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 10px;
        }

        &__info {
            color: #b0b0b0;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .favorite {
        color: rgb(39, 158, 139);
    }

    .save {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &:hover {
        transform: translateY(-px);
    }

    &.highlighted {
        border: 1px solid rgb(39, 158, 139);
    }
}