.verse {
    background: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    border: 1px solid rgba(100, 100, 111, 0.2);
    transition: transform .2s;
    transform: translateX(-10rem);
    opacity: 0;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    .header {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        line-height: 5rem;
        margin-bottom: 2.5rem;

        &__text {
            width: 100%;
            font-size: 3rem;
            color: #000;
            text-align: end;
        }

        &__number {
            color: rgb(39, 158, 139);
            font-size: 2.6rem;

        }
    }

    &-tafseer {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        color: gold;
        margin-bottom: 2rem;
        cursor: pointer;
    }


    &-description {
        margin-right: auto;

        &__text {
            color: #000;
            font-weight: 400;
            font-size: 1.8rem;
        }

        padding-bottom: 2rem;
        border-bottom: 1px solid #00000025;
    }

    &-footer {
        margin-top: 2rem;
    }

    .icon {
        font-size: 2.5rem;
    }
}