.card {

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .verse {
        &-number {
            font-size: 26px;
            color: rgb(39, 158, 139);
        }

        &-tafseer {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: gold;
            margin-bottom: 20px;
            cursor: pointer;
        }

        &-description {
            margin-right: auto;

            &__text {
                color: #000;
                font-weight: 400;
                font-size: 18px;
            }

            padding-bottom: 20px;
            border-bottom: 1px solid #00000025;
        }

        &-footer {
            margin-top: 20px;
        }
    }

    .arabic-text {
        font-size: 26px;
        color: #000;
    }
}