.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 2.9rem 0px;
    max-width: 50rem;
    width: 100%;
    min-height: 5rem;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .body {
        .select {
            width: 100%;
        }
    }
}