.header {
    height: 60px;
    padding: 0 20px 0 0;
    display: flex;
    align-items: center;

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        background: #279e8b;
        height: 100%;

        &__item {
            width: 43px;
        }
    }

    &-actions {
        margin-left: auto;
    }

    .language {
        color: #279e8b;
        font-size: 20px;
        font-weight: 400;
    }
}