.navbar {
    width: 65px;
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 10px;


    .link {
        color: #BBC7CD;
        padding: 10px 12px;
        transition: all .2s;
        display: flex;
        align-items: center;
        justify-content: center;

        &.activeLink {
            color: #18262E;
            background-color: #E6EAEF;
            border-radius: 6px;
        }

        &:hover {
            color: #18262E;
            background-color: #E6EAEF;
            border-radius: 6px;
        }
    }

    .settings-icon {
        cursor: pointer;
        margin-top: auto;
    }
}